name: Build and Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy-to-k8s:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          cat << 'LITERAL_EOF' > ~/.kube/config
          ${{ secrets.KUBECONFIG }}
          LITERAL_EOF
          chmod 600 ~/.kube/config
      - name: Verify K8s
        run: kubectl get nodes || echo "Waiting for auth plugin if needed"
