name: Build and Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy-v2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          cat << 'LITERAL_EOF' > ~/.kube/config
          ${{ secrets.KUBECONFIG }}
          LITERAL_EOF
          chmod 600 ~/.kube/config
      - name: Verify
        run: kubectl get nodes || echo "Config saved"
